.cookie{
  position: fixed;
  bottom: 20px;
  left: 0px;
  width: 100%;
  display: none;
  background-color: rgba($color: $blueLight, $alpha: 1);
  padding: 10px 0px;

  &__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

  }

  &__text{
    display: flex;
    align-items: center;
    gap: 10px;

    img{

    }

    p{
      color: rgb(239, 239, 239);
      font-size: 14px;
      font-weight: 800;
      line-height: 140%;
    }
  }

  &__btn{
    padding: 8px 23px;
    color: rgb(31, 78, 147);
    font-size: 12px;
    font-weight: 800;
    background: rgb(255, 255, 255);
  }
}