<div id="leave-request" class="popup">
  <div class="popup__wrapper">
    <div class="popup__content">
      <div class="popup__top">
        <button data-close type="button" class="popup__close close"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <h2 class="popup__title">Поиск</h2>
      <form action="" class="popup__form form" method="POST" id="reviews-form">
        <input type="text" name="name" class="form__input" placeholder="Найти..."/>
        <button type="submit" class="form__button">Найти</button>
      </form>
    </div>
  </div>
</div>