.calendary {
  padding: 50px 0px 100px;

  &__mini-banner {
    display: block;
    width: 240px;
    height: 70px;
    margin-bottom: 15px;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media screen and (max-width: 1200px){
      flex-direction: column;
    }
  }

  &__col {
  }

  &__title {
    margin-bottom: 20px;
    color: rgb(17, 41, 77);
    font-size: 24px;
    font-weight: 800;
    line-height: 137%;
  }

  &__grid{
    display: flex;

    @media screen and (max-width: 768px){
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  &__item{
    width: 170px;
    height: 140px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-top: 0.5px solid rgb(151, 151, 151);
    border-bottom: 0.5px solid rgb(151, 151, 151);

    & + & {
      border-left: 0.5px solid rgb(151, 151, 151);
    }

    &:first-child {
      border-left: 0.5px solid rgb(151, 151, 151);
    }

    &:last-child {
      border-right: 0.5px solid rgb(151, 151, 151);
    }

    p{
      flex: 1 1 auto;
    }

    img {
      width: 20px;
      align-self: flex-end;
    }

    @media screen and (max-width: 1350px) and (min-width: 1200px) {
      width: 140px;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      border-right: 0.5px solid rgb(151, 151, 151);
    }
  }
}

.calendary-day {
  display: flex;
  margin-bottom: 20px;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 60px;
    border-top: 0.5px solid rgb(151, 151, 151);
    border-bottom: 0.5px solid rgb(151, 151, 151);
    cursor: pointer;

    & + & {
      border-left: 0.5px solid rgb(151, 151, 151);
    }

    &:first-child {
      border-left: 0.5px solid rgb(151, 151, 151);
    }

    &:last-child {
      border-right: 0.5px solid rgb(151, 151, 151);
    }

    span:first-of-type {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height:30px;
      border: 1px solid transparent;
      border-radius: 50%;
      color: rgb(0, 0, 0);
      font-size: 13px;
      font-weight: 500;
      line-height: 137%;
    }

    &.active {
      span:first-of-type{
        border-color: #1f4e93;
      }
    }

    @media (max-width: 1350px) and (min-width: 1200px) {
      width: 60px;
      height: 50px;
    }
  }

  &__start{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
  }
}

.calendary-info {
  padding: 40px 40px;
  border: 0.5px solid rgb(151, 151, 151);
  text-align: center;
  max-width: 630px;

  &__day {
    display: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 137%;
    margin-bottom: 5px;

    span {
      color: #1F4E93;
      font-weight: 500;
    }

    &.active {
      display: block;
    }
  }

}