@media (min-width: 1200px) {
  .container {
    max-width: $container !important;
    margin: 0 auto;
    padding: 0 0.75rem;
  }
}

a {
  text-decoration: none;
  color: rgba($color: $black, $alpha: 1);
}

p{
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

ul, ol {
  list-style: none;
  padding-left: 0px;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

.fa, .fa-brands, .fa-regular, .fa-solid, .fab, .far, .fas {
  line-height: 0 !important;
}