.hero {
  background: center no-repeat;
  background-size: cover;

  &__inner{

    display: flex;
    align-items: flex-end;
    padding: 120px 0px;

    @media screen and (min-width: 992px) {
      height: 100vh;
    }
  }

  &__title {
    max-width: 930px;
    color: rgba($color: $white, $alpha: 1);
    font-size: 60px;
    font-weight: 800;
    line-height: 130%;
    text-align: left;
    text-wrap: balance;
    text-transform: uppercase;

    @media screen and (max-width: 992px) {
      font-size: 40px;
    }
    @media screen and (max-width: 768px) {
      font-size: 30px;
    }
  }


}