.search{
  padding: 50px 0px;

  h1 {
    margin-bottom: 20px;
  }
}

.simplesearch-results,.simplesearch-paging{
  margin-bottom: 20px !important;
}

.simplesearch-result{
  margin-bottom: 10px !important;
}

.simplesearch-results-list {
  margin-bottom: 30px !important;
}