.trust {

  &__head {
    border-bottom: 1px solid rgb(145, 145, 145);
  }

  &__title {
    text-align: center;
    margin-bottom: 30px;
  }

  &__logos {

  }
}

.logos {
  padding: 30px 30px;

  &__image {
    img {
      height: 50px;
    }
  }
}

.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 20px;
}

.items-wrap:before,
.items-wrap:after {
  content: "";
  height: 100%;
  top: 0;
  width: 10%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.items-wrap:before {
  left: 0;
  background: linear-gradient(
                  90deg,
                  rgba(255, 255, 255, 1) 0%,
                  rgba(255, 255, 255, 0) 100%
  );
}

.items-wrap:after {
  right: 0;
  background: linear-gradient(
                  90deg,
                  rgba(255, 255, 255, 0) 0%,
                  rgba(255, 255, 255, 1) 100%
  );
}

.items {
  flex-shrink: 0;
  display: flex;
  gap: 70px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}

.marquee {
  animation: scroll 110s linear infinite;
}

.items-wrap:hover .marquee {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
