// пример переменных
$main_font: "Manrope", sans-serif;

$animation_speed: 0.25s;

// Цвета проекта

$blueLight: #1f4e93;
$blueDark: #11294d;
$black: #333333;
$white: #ffffff;
$greyLight: #efefef;

$container: 1384px;